@import "susy";
@import "compass";

/* Susy set-up
   ========================================================================== */
$total-columns      :       12;
$column-width       :       4em;
$grid-padding       :       1em;
$gutter-width       :       1em;

.text-center {
  text-align: center;
}

.text-light {
  font-weight: normal;
}

.center{
  margin: 0 auto;
  display: block;
}

.center--inline{
  margin: 0 auto;
  display: inline;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 38px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

a{
  display: inline-block;
  font-style: none;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
p{
  margin: 0;
}
body{
  font-family: "OpenSans", sans-serif;
  margin: 0;

}

/* Useful mixins
   ========================================================================== */
@function black($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity) {
  @return rgba(255,255,255,$opacity);
}
@mixin box-emboss($opacity, $opacity2){
  box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin inset-border($rgba){
  box-shadow: inset $rgba 0 0 0 1px;
}
@mixin letterpress($opacity){
  text-shadow: black($opacity) 0 1px 0;
}
@mixin letterpress-white($opacity){
  text-shadow: white($opacity) 0 1px 0;
}

/* Some css resets breaking the styling somewhere
   ========================================================================== */
img{
  border: none;
}


/* List Styling
   ========================================================================== */
ul{
  margin: 0;
  display: inline-block;
}
ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* Few button base css
   ========================================================================== */
button{
  border: none;
}
.btn{
  padding: 7px 15px;
  font-weight: bolder;
  cursor: pointer;
}
$buttonTop      :       rgba(252, 252, 252, 1.0000);
$buttonBottom   :       rgba(191, 191, 191, 1.0000);
.btn--gray{
  border: 1px solid black(0.5);
  @include border-radius(5px);
  @include background(linear-gradient(top, $buttonTop 0%, $buttonBottom 100%));
  &:hover {
    @include background(linear-gradient(bottom, $buttonTop 0%, $buttonBottom 100%));
  }
}

$buttonOrangeBackgroundTop       :     rgba(255, 152, 2, 1.0000);
$buttonOrangeBackgroundBottom    :     rgba(197, 118, 1, 1.0000);
.btn--orange{
  padding: 1px 5px;
  border: 1px solid $buttonOrangeBackgroundBottom;
  @include border-radius(5px);
  @include background(linear-gradient(top, $buttonOrangeBackgroundTop 0%, $buttonOrangeBackgroundBottom 100%));
}

$buttonBlueBgTop        :         rgba(0, 181, 228, 1.0000);
$buttonBlueBgBottom     :         rgba(24, 119, 207, 1.0000);
.btn--blue{
  border: 1px solid black(0.5);
  @include border-radius(5px);
  @include background(linear-gradient(top, $buttonBlueBgTop 0%, $buttonBlueBgBottom 100%));
  &:hover {
    @include background(linear-gradient(bottom, $buttonBlueBgTop 0%, $buttonBlueBgBottom 100%));
  }
}

/* Few input base css
   ========================================================================== */
input[type="text"], input[type="password"]{
  border: none;
  border: 1px solid gray;
}
.ipt{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  @include border-radius(5px);
}
.ipt--inline{
  display: inline-block;
}
.ipt--single{
  display: block;
}

.ipt-padding{
  padding: 5px;
  @include border-radius(3px);
  border: 1px solid black(0.1);
}

/* A few css classes for images to display
   ========================================================================== */
.thumb--medium {
  width: 150px;
  vertical-align: middle;
}
.thumb--box{
  width: 150px;
  vertical-align: top;
}
.thumb--large{
  width: 300px;
}

/* A few box rules
   ========================================================================== */
.label--single{
  width: 50px;
  margin-left: 10px;
  margin-right: 19px;
}
.label--single.is-selected {
  margin-right: 0px;
}

/* A few form rules
   ========================================================================== */

.form {
  @include span-columns(12);
  @include border-radius(5px);
}
$formGray        :           rgba(234, 234, 234, 1.0000);
.form--gray{
  background-color: $formGray;
}
$formBlueTop      :         rgba(0, 181, 228, 1.0000);
$formBlueBottom   :         rgba(24, 119, 207, 1.0000);
.form--blue{
  @include background(linear-gradient(top, $formBlueTop 0, $formBlueBottom 100%));
  @include box-emboss(0.8, 0.2);
}

/* Few alert styles
   ========================================================================== */

.alert--error{
  color: rgba(249, 147, 2, 1.0000);
}

/* Few font declaration
   ========================================================================== */
@font-face {
  font-family: "lostart";
  src: url("./../assets/lost-art-font.woff");
}

@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

/* Few font classes based on these web fonts
   ========================================================================== */
.font-indie{
  font-family: "Indie Flower";
  font-size: 19px;
  color: rgba(58, 98, 117, 1.0000);
  @include letterpress-white(1);
}

.font-monkey{
  font-family: "Happy Monkey";
  font-size: 19px;
  color: rgba(58, 98, 117, 1.0000);
  @include letterpress-white(1);
}