@import "susy";
@import "compass";

/* Susy set-up
   ========================================================================== */
$total-columns      :       12;
$column-width       :       4em;
$grid-padding       :       1em;
$gutter-width       :       1em;

.text-center {
  text-align: center;
}

.center{
  margin: 0 auto;
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 38px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

a{
  display: inline-block;
  font-style: none;
  font-weight: bold;
  color: black;
}

body{
  font-family: "OpenSans", sans-serif;
  margin: 0;

}

/* Few useful mixins
   ========================================================================== */
@function black($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity) {
  @return rgba(255,255,255,$opacity);
}

/* List Styling
   ========================================================================== */
ul{
  margin: 0;
  display: inline-block;
}
ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* Few button base css
   ========================================================================== */
button{
  border: none;
}
.btn{
  padding: 7px 15px;
  font-weight: bolder;
  cursor: pointer;
}
$buttonTop      :       rgba(252, 252, 252, 1.0000);
$buttonBottom   :       rgba(191, 191, 191, 1.0000);
.btn--gray{
  border: 1px solid black(0.5);
  @include border-radius(5px);
  @include background(linear-gradient(top, $buttonTop 0%, $buttonBottom 100%));
  &:hover {
    @include background(linear-gradient(bottom, $buttonTop 0%, $buttonBottom 100%));
  }
}

/* Few input base css
   ========================================================================== */
input[type="text"], input[type="password"]{
  border: none;
  border: 1px solid gray;
}
.ipt{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  @include border-radius(5px);
}
.ipt--inline{
  display: inline-block;
}
.ipt--single{
  display: block;
}

/* A few css classes for images to display
   ========================================================================== */
.thumb--medium {
  width: 150px;
  vertical-align: middle;
}
.thumb--box{
  width: 150px;
  vertical-align: top;
}
.thumb--large{
  width: 300px;
}

/* A few box rules
   ========================================================================== */
.label--single{
  width: 50px;
  margin-left: 10px;
  margin-right: 19px;
}
.label--single.is-selected {
  margin-right: 0px;
}