@import "compass";

@font-face {
  font-family: "lostart";
  src: url("../assets/lost-art-font.woff");
}

.by-brand{
  font-family: lostart;
  font-size: 35px;
  font-weight: lighter;
  position: relative;
  top: 4px;
}

.by-banr{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
$gmailYellow      :       rgba(255, 215, 111, 1.0000);
.by-banr--small{
  background-color: $gmailYellow;
  color: black;
}

$gmailBlue      :       rgba(40, 78, 168, 1.0000);
.by-usr--email{
  color: $gmailBlue;
  //text-decoration: underline;
}

//Taken from btn-outline-inverse in bs-benkyet.scss
.by-is-selected {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
  //@include box-shadow(white(1) 0 0 2px);
}


.sprite2 {
  background-image: url('../assets/sprites2.png');
  cursor: pointer;
  @include transition(all 0.2s ease);
  &:hover{
    @include transform(scale(1.2));
  }
}
.sprite2--fb, .sprite2--twitter, .sprite2--mail {
  width: 88px;
  height: 70px;
  display: inline-block;
}
.sprite2--fb {
  background-position: 0 0;
}
.sprite2--twitter{
  margin-left: 60px;
  background-position: 0 -90px;
}

.by-center{
  margin: 0 auto;
  display: block;
}

@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
.by-font-monkey{
  font-family: "Happy Monkey";
  font-size: 19px;
}

.by-img-middle{
  width: 120px;
}




html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 50px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
//@media (max-width: 767px) {
//  #footer {
//    margin-left: -20px;
//    margin-right: -20px;
//    padding-left: 20px;
//    padding-right: 20px;
//  }
//}

.by-margin-top-10{
  margin: 10px auto;
}