@import "susy";
@import "compass";

$greenTopBanner       :     rgba(93, 171, 31, 1.0000);
$silverBlue           :     rgba(92, 114, 137, 1.0000);
$heightTopBanner      :     65px;
$white                :     rgba(255,255,255,1);
$heightSubBanner      :     38px;

.sub-banner{
  background-color: $white;
  height: $heightSubBanner;
  width: 100%;
  min-width: 900px;
}
.sub-banner {
  margin: 0 auto;
  text-align: center;
}
.sub-banner__tagline {
 font-size: 24px;
  margin: 5px auto;
}
.banr{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
$gmailYellow      :       rgba(255, 215, 111, 1.0000);
.banr--small{
  height: 20px;
  background-color: $gmailYellow;
}
$greenVisualSuccess       :       rgba(122, 189, 0, 0.5);
.banr--green-small {
  height: 20px;
  background-color: $greenVisualSuccess;
}

.banner {
  background-color: $silverBlue;
  height: $heightTopBanner;
  width: 100%;
  min-width: 900px;
}
.banner .nav{
  margin: 0 auto;
  position: relative;
}
.banner .content, .banner .title{
  background-color: $silverBlue;
  margin: 0 auto;
  display: inline-block;
  margin: 0 10px;
  font-weight: normal;
}
.banner .title {
  padding-top: 12px;
}

.footer-banner {
  background-color: $greenTopBanner;
  height: 110px;
  width: 100%;
  min-width: 920px;
  padding-top: 5px;
}
@include with-grid-settings(12, 4em, 1em, 0em) {
  .footer{
    @include container;
    margin: 0 auto;
  }
  .footer__left{
    @include span-columns(3);
    margin-left: -1em;
  }
  .footer__right{
    @include span-columns(3 omega);
    margin-right: -1em;
    text-align: right;
  }
}

/* Social media sprites
   ========================================================================== */
.sprite{
  background: url('./../assets/sprites.png');
}
.sprite--fb, .sprite--twitter{
  width: 32px;
  height: 32px;
}
.sprite--twitter{
  background-position: 0px 0px;
}
.sprite--fb{
  background-position: 0px -32px;
}
.sprite2 {
  background-image: url('./../assets/sprites2.png');
  cursor: pointer;
  @include transition(all 0.2s ease);
  &:hover{
    @include transform(scale(1.2));
  }
}
.sprite2--fb, .sprite2--twitter, .sprite2--mail {
  width: 88px;
  height: 70px;
}
.sprite2--fb {
  background-position: 0 0;
}
.sprite2--twitter{
  margin-left: 60px;
  background-position: 0 -90px;
}

.menu{
  position: absolute;
  top: 0;
  right: 20px;
}
$hoverColor         :         rgba(255, 255, 255, 1.0000);
.menu li{
  padding-top: 12px;

  width: 100px;
  height: 40px;
  cursor: pointer;
  border-top: 3px solid transparent;
  &:hover{
    border-top: 3px solid $hoverColor;
  }
}
.menu li a{
  margin-top: 10px;
}

.layout{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIHWN88+LOfwYk8OXLVwYmJD6YycPDjRAEqYABuEqQChhgQlYBEwQAUMYMlj+hubwAAAAASUVORK5CYII=');
}

.brand{
  font-family: lostart;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}