@import "susy";
@import "compass";

$backgroundColor      :       rgba(234, 234, 234, 1.0000);

@include with-grid-settings(12, 4em, 1em, 1em) {
  .container {
    @include container;
    background-color: $backgroundColor;
    padding: 20px;
    @include border-radius(5px);
  }
  .main{
    @include span-columns(8);
  }
  .side{
    @include span-columns(4 omega);
  }
}