@import "susy";
@import "compass";
@import "base";

$backgroundColor        :           rgba(234, 234, 234, 1.0000);
$darkGreen              :           rgba(93, 171, 31, 1.0000);
$lightGreen             :           rgba(126, 187, 75, 1.0000);

@include with-grid-settings(12, 4em, 1em, 1em) {
  .home {
    @include container;
    background-color: $backgroundColor;
  }
  .searchBox {
    margin: 20px 0;
    padding: 15px;
    @include span-columns(12 omega);
    background-color: $darkGreen;
    color: white;
    @include border-radius(5px);
    position: relative;
    left: 15px;
  }
  .searchBox .types{
    margin-bottom: 20px;
  }
  .searchBox .type__pill {
    padding: 5px 10px;
    @include border-radius(5px);
    cursor: pointer;
  }
  .type__pill.is-selected {
    background-color: $lightGreen;
    @include box-shadow(white(1) 0 0 2px);
  }
  .searchBox .forms {
    @include span-columns(9);
    background-color: red;
  }
  .searchBox .actuator {
    @include span-columns(3 omega);
    background-color: yellow;
  }


  $sortBoxBackground        :       rgba(249, 249, 249, 1.0000);

  .sort-box{
    padding: 10px;
    background-color: $sortBoxBackground;
    @include border-radius(5px);

    div{
      display: inline-block;
      cursor: pointer;
    }
    label{
      float: right;
    }
  }
  .item-box{
    margin: 20px 0;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .item-box .item--thumb {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    img{
      width: 100px;
      display: block;
    }
  }
  .item--text {
    overflow: hidden;
    display: inline-block;
    width: 700px;
    h3, .price{
      display: inline-block;
    }
    .price{
      float: right;
      margin: 0;
    }
  }

}