@import "susy";
@import "compass";
@import "base";

$backgroundColor        :           rgba(234, 234, 234, 1.0000);

@include with-grid-settings(12, 4em, 1em, 1em) {
  .account{
    @include container;
  }

  .form input {

  }
  .thumb{
    width: 100px;
    vertical-align: middle;
  }

  .item-box{
    margin: 20px 0;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .item-box .item--thumb {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    img{
      width: 100px;
      display: block;
    }
  }
  .item--text {
    overflow: hidden;
    display: inline-block;
    width: 700px;
    h3, .price{
      display: inline-block;
    }
    .price{
      float: right;
      margin: 0;
    }
  }

  .lyt--new-item-form{
    p{
      color: white;
      @include letterpress(0.4);
    }
    div{
      margin: 20px 20px;
    }
  }
  .lyt--update-account-form{
    div{
      margin: 20px 20px;
    }
  }

}