@import "susy";

$greenTopBanner       :     rgba(93, 171, 31, 1.0000);
$heightTopBanner      :     45px;
$white                :     rgba(255,255,255,1);
$heightSubBanner      :     38px;

.sub-banner{
  background-color: $white;
  height: $heightSubBanner;
  width: 100%;
  min-width: 900px;
}
.sub-banner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;

}
.sub-banner__tagline {
  font-size: 24px;
  margin: 5px auto;
}

.banner {
  background-color: $greenTopBanner;
  height: $heightTopBanner;
  width: 100%;
  min-width: 900px;
}
.banner .nav{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.banner .content, .banner .title{
  background-color: $greenTopBanner;
  margin: 0 auto;
  display: inline-block;
  margin: 0 10px;
  font-weight: normal;
}
.banner .title {
  font-weight: bold;
}

.footer-banner {
  background-color: $greenTopBanner;
  height: 100px;
  width: 100%;
  min-width: 920px;
  padding-top: 5px;
}
@include with-grid-settings(12, 4em, 1em, 0em) {
  .footer{
    @include container;
    margin: 0 auto;
  }
  .footer__left{
    @include span-columns(3);
    margin-left: -1em;
  }
  .footer__right{
    @include span-columns(3 omega);
    margin-right: -1em;
    text-align: right;
  }
}

/* Social media sprites
   ========================================================================== */
.sprite{
  background: url('./../assets/sprites.png');
}
.sprite--fb, .sprite--twitter{
  width: 32px;
  height: 32px;
}
.sprite--twitter{
  background-position: 0px 0px;
}
.sprite--fb{
  background-position: 0px -32px;
}
.sprite2 {
  background-image: url('./../assets/sprites2.png');
}
.sprite2--fb, .sprite2--twitter, .sprite2--mail {
  width: 63px;
  height: 60px;
}
.sprite2--twitter {
  background-position: 0 0;
}
.sprite2--fb{
  background-position: 0 -60px;
}
.sprite2--mail{
  background-position: 0 -120px;
}

.menu{
  position: absolute;
  top: 0;
  right: 20px;
}
$hoverColor         :         rgba(255, 255, 255, 1.0000);
.menu li{
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-top: 3px solid transparent;
  &:hover{
    border-top: 3px solid $hoverColor;
  }
}
.menu li a{
  margin-top: 10px;
}

.layout{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIHWN88+LOfwYk8OXLVwYmJD6YycPDjRAEqYABuEqQChhgQlYBEwQAUMYMlj+hubwAAAAASUVORK5CYII=');
}