@import "susy";
@import "compass";
@import "base";

$backgroundColor        :           rgba(234, 234, 234, 1.0000);
$darkGreen              :           rgba(93, 171, 31, 1.0000);
$lightGreen             :           rgba(126, 187, 75, 1.0000);

@include with-grid-settings(12, 4em, 1em, 1em) {
  .home {
    @include container;
    background-color: $backgroundColor;
  }
  .span-double{
    @include span-columns(8 omega);
    @include border-radius(5px);
    height: 200px;
    background-color: black(0.7);
    overflow: hidden;
  }
  .bkt-card{
    @include transition(bottom 0.2s ease);
    &:hover{
      position: relative;
      bottom: 20px;
    }
  }

  .span-single{
    @include span-columns(4);
    @include inset-border(black(0.5));
    @include border-radius(5px);

    height: 200px;
    overflow: hidden;



    img{
      @include border-top-radius(5px);
      width: 304px;
      height: 117px;
      overflow: hidden;
    }
    a:after{
      content: "\232a";
      float: right;
    }
    ul{
      padding: 0;
      width: 100%;
      li{
        padding: 3px 0;
        width: 100%;
        text-align: left;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          top: -1px;
          left: 0px;
          width: 100%;
          height: 1px;
          @include background(linear-gradient(left, $backgroundColor 0%, #d2d2d2 25%, #d2d2d2 75%, $backgroundColor 100%));
        }
        a{
          padding-left: 5px;
          width: 98%;
          color: black(0.80);
          &:hover{
            color: black(1);
          }
        }
      }
    }
  }
  .span-single-last{
    @include span-columns(4 omega);
    @include inset-border(black(1));
    @include border-radius(5px);
  }


  .mascot{
    border-radius: 50%;
    border: 4px solid gray;
    height: 100px;
    width: 107px;
    background: url('./../assets/mascot.png');
    background-size: 107px 100px;
    margin: 0 auto;
  }

  .searchBox {
    margin: 20px 70px;
    @include span-columns(10);
    background-color: $darkGreen;
    color: white;
    @include border-radius(5px);
    position: relative;
  }
  .searchBox__left{
    @include span-columns(1);
  }
  .searchBox__right{
    @include span-columns(1 omega);
  }

  .searchBox .types{
    margin: 10px 25px;
  }
  .searchBox .type__pill {
    padding: 5px 10px;
    @include border-radius(5px);
    cursor: pointer;
  }
  .type__pill.is-selected {
    background-color: $lightGreen;
    @include box-shadow(white(1) 0 0 2px);
  }
  .searchBox .forms {
    @include span-columns(9);
    background-color: red;
  }
  .searchBox .actuator {
    @include span-columns(3 omega);
    background-color: yellow;
  }


  $sortBoxBackground        :       rgba(249, 249, 249, 1.0000);

  .sort-box{
    background-color: $sortBoxBackground;
    @include border-radius(5px);
    @include span-columns(12 omega);
    margin: 20px 0;
  }
  .sort-box__filters, .sort-box__search{
    margin: 10px 0;
  }
  .sort-box__filters{
    @include span-columns(4);
  }
  .sort-box__search{
    @include span-columns(4 omega);
  }

  .max-span{
    @include span-columns(12 omega);
  }
  .item-box{
    margin: 20px 0;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .item-box .item--thumb {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    @include span-columns(2);
    img{
      width: 120px;
      display: block;
    }
  }
  .item--text {
    overflow: hidden;
    display: inline-block;
    @include span-columns(9);
    .price{
      cursor: pointer;
      display: inline-block;
    }
    .price{
      float: right;
      margin: 0;
    }
  }

}

.usr--status{
  margin: 1px auto;
}
$gmailBlue      :       rgba(40, 78, 168, 1.0000);
.usr--email{
  color: $gmailBlue;
  text-decoration: underline;
}