<br>
<section class="login">
    <a ng-href="http://dev.benkyet.com/1.0/auth/facebook">Login with Facebook</a>
    <h3 class="text-center">LOG IN</h3>
    <h5 class="text-center">Hello. Great to see you again!</h5>
    <h5     class="text-center alert--error"
            ng-bind="error"></h5>
    <form>
        <input
                ng-model="user.username"
                type="text"
                placeholder="Username"
                class="ipt ipt--single center">
        <input
                ng-model="user.pass"
                type="password"
                placeholder="Password"
                class="ipt ipt--single center">
        <button
                class="btn btn--gray center js-login"
                ng-click="loginUser();">
            Log In</button>
    </form>
</section>
<br>