<br>
<section class="login">
    <a
            style="width: 100%;"
            target="_top"
            ng-href="/1.0/auth/facebook">
        <img
                class="center"
                src="./../assets/fb_login.png">
    </a>
    <!--<h5 class="text-center">Hello. Great to see you again!</h5>-->
    <!--<h5     class="text-center alert--error"-->
            <!--ng-bind="error"></h5>-->
    <!--<form>-->
        <!--<input-->
                <!--ng-model="user.username"-->
                <!--type="text"-->
                <!--placeholder="Username"-->
                <!--class="ipt ipt--single center">-->
        <!--<input-->
                <!--ng-model="user.pass"-->
                <!--type="password"-->
                <!--placeholder="Password"-->
                <!--class="ipt ipt--single center">-->
        <!--<button-->
                <!--class="btn btn--gray center js-login"-->
                <!--ng-click="loginUser();">-->
            <!--Log In</button>-->
    <!--</form>-->
</section>
<br>