<section class="container">
    <section class="col-sm-7">
        <img style="width: 100%;" src="{{ item.pictures[0] }}">
    </section>
    <section class="col-sm-5">
        <h2>
            {{ item.name }}
        </h2>

        <h4>
            {{ item.price | currency:"£ " }}
        </h4>

        <p>
            {{ item.description }}
        </p>


        <form
                novalidate
                name="replyForm"
                ng-submit="sendMessage();"
                ng-hide="success === true"
                ng-init="message = {};">

            <div>

                <h4>
                    Reply to this ad:
                </h4>
                <input
                        required
                        type="text"
                        class="form-control"
                        ng-model="message.name"
                        placeholder="Your Name">
                <br>
                <input
                        required
                        type="text"
                        class="form-control"
                        ng-model="message.email"
                        placeholder="Your Email">
                <br>
                <input
                        required
                        type="text"
                        class="form-control"
                        ng-model="Subject"
                        placeholder="{{ item.name }}">
                <br>
                <textarea
                        class="form-control"
                        required
                        cols="22"
                        rows="10"
                        ng-model="message.body">
                    Hi, I found your listing on Benkyet and would like to set up a time to see see/buy this item. Please send me more information about it.

                    Thank you.
                </textarea>
                <br>
                <button
                        ng-disabled="!canSave();"
                        class="btn btn-success">
                    Send Reply
                </button>

            </div>

        </form>

        <section
                ng-show="success === true">
            <div
                    class="alert alert-success">
                <strong>Done!</strong>
                Your message was sent successfully.
            </div>
            <button
                    class="btn btn-default"
                    ng-click="backButton();">
                Back
            </button>
        </section>




    </section>
</section>
