<br>
<section class="container">

    <section class="main">
        <h2>{{ item.name }} - {{ item.price | currency:"£ " }}</h2>

        <img class="thumb--large" ng-src="{{ item.pictures[0] }}">

        <h5>{{ item.location }}</h5>
        <p>
            {{ item.description }}
        </p>



        <br>
        <br>
    </section>

    <section class="side">

        <aside>



                <form
                        novalidate
                        class="form form--blue lyt--reply-to-ad-form"
                        name="replyForm"
                        ng-submit="sendMessage();"
                        ng-hide="success === true"
                        ng-init="message = {};">

                    <div>

                    <h4>
                        Reply to this ad:
                    </h4>
                    <input
                            required
                            type="text"
                            class="ipt ipt--single"
                            ng-model="message.name"
                            placeholder="Your Name">
                    <input
                            required
                            type="text"
                            class="ipt ipt--single"
                            ng-model="message.email"
                            placeholder="Your Email">
                    <input
                            required
                            type="text"
                            class="ipt ipt--single"
                            ng-model="message.subject"
                            placeholder="{{ item.name }}">
                    <textarea
                            required
                            cols="22"
                            rows="10"
                            ng-model="message.body">
                        Hi, I found your listing on Benkyet and would like to set up a time to see see/buy this item. Please send me more information about it.

                        Thank you.
                    </textarea>
                    <br>
                    <br>
                    <button
                            ng-disabled="!canSave();"
                            class="btn btn--gray">
                        Send Reply
                    </button>

                    </div>

                </form>



                <section
                        class="lyt--message-sent"
                        ng-show="success === true">
                    <div class="img-bg">
                        <img src="./../assets/tick.png">
                    </div>

                    <h3>Message sent!</h3>
                    <p>
                        Check your inbox for replies from this seller.
                    </p>
                    <button
                            class="btn btn--blue"
                            ng-click="backButton();">
                        Back
                    </button>
                </section>






        </aside>


    </section>

</section>
<br>
