Universities
<h3>
    Invite 3 friends from your University to become a true member of Benkyet
</h3>

        <input
                ng-trim="false"
                autofocus="true"
                type="text"
                ng-model="criteria">

<section
        ng-repeat="uni in filteredUnis = (unis | filter:criteria)">
    {{ uni.education[uni.education.length - 1].school.name }}
        </section>

<section
        ng-repeat="uni in unis">
<!--{{ uni.education }}-->

    <br>
{{ uni.name }}
    <br>
    <img ng-src="{{ uni.picture.data.url }}">



    <section ng-init="len = uni.education.length - 1;"
            ng-bind="uni.education[len].name.school.name">
        {{ len }}
            </section>

    <br>
    <br>
    <br>

        </section>

        {{ unic }}