<section class="container">
    <section class="col-lg-offset-2 col-lg-8">

        <form
                name="newItemForm"
                ng-init="data.form = newItemForm"
                class="">
            <div>
                <p class="h3 by-margin-top-10">
                    ITEM DETAILS
                </p>
                <div class="form-inline col-lg-4">
                    <input
                            required
                            ng-model="item.name"
                            class="form-control by-margin-top-10"
                            placeholder="Title - Editor - Year"
                            type="text">
                </div>
                <div class="form-inline col-lg-4">
                    <input
                            required
                            ng-model="item.price"
                            class="form-control by-margin-top-10"
                            placeholder="Price"
                            type="text">
                </div>
                <div class="form-inline col-lg-4">
                    <input
                            required
                            ng-model="item.location"
                            class="form-control by-margin-top-10"
                            placeholder="Subtle Title (e.g AC 302)"
                            type="text">
                </div>

                <h4>
                    DESCRIPTION
                </h4>
                <textarea
                        required
                        class="form-control"
                        ng-model="item.description"
                        placeholder="Describe the item here">
                </textarea>
                <p class="h4 by-margin-top-10">
                    COMMUNITY
                </p>
                <select
                        required
                        ng-options="g for g in groups"
                        ng-model="item.group"></select>
                <p class="h4 by-margin-top-10">
                    PICTURES
                </p>
                <fileupload pictures="data.pictures"></fileupload>
                <br>


                <button
                        class="btn btn-danger"
                        ng-click="goToAccount();">Back</button>

                <button
                        ng-disabled="!canSave('newItemForm') || isProgressing;"
                        class="btn btn-success pull-right"
                        ng-click="goToStep2();">Next</button>
                <img
                        class="pull-right"
                        ng-show="isProgressing"
                        src="./../assets/spinner.gif"
                        style="vertical-align: middle;margin-right: 10px;">

                <img
                        ng-show="isProgressing"
                        src="./../assets/spinner.gif"
                        style="vertical-align: middle;">
            </div>


        </form>

    </section>
</section>
