<section
        class="account">

    <h3>
        Invite 3 friends from your University to become a true member of Benkyet
    </h3>

    <input
            class="ipt ipt--single"
            autofocus="true"
            type="text"
            ng-model="criteria">

    <section
            ng-repeat="friend in filteredUnis = (friends | filter:criteria)">


        <input
                ng-model="friend_state"
                type="checkbox"
                ng-click="addFriendRequest(friend.id)">
        <img
                style="vertical-align: middle;"
                ng-src="{{ friend.picture.data.url }}">
        <h4 class="inline">
            {{ friend.name }}
        </h4>
        <br>
        <h4 class="inline">
            {{ friend.education[friend.education.length - 1].school.name }}
        </h4>
    </section>

    <button
            ng-click="requestFriends()"
            class="btn btn--gray align-right"
            >Invite</button>

</section>