@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/* Susy set-up
   ========================================================================== */
/* Positioning classes
   ========================================================================== */
/* line 13, ../../src/sass/base.scss */
.text-center {
  text-align: center;
}

/* line 16, ../../src/sass/base.scss */
.center {
  margin: 0 auto;
  display: block;
}

/* line 20, ../../src/sass/base.scss */
.center--inline {
  margin: 0 auto;
  display: inline;
}

/* Few header declarations
   ========================================================================== */
/* line 27, ../../src/sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 30, ../../src/sass/base.scss */
h1,
.h1 {
  font-size: 38px;
}

/* line 34, ../../src/sass/base.scss */
h2,
.h2 {
  font-size: 32px;
}

/* line 38, ../../src/sass/base.scss */
h3,
.h3 {
  font-size: 24px;
}

/* line 42, ../../src/sass/base.scss */
h4,
.h4 {
  font-size: 18px;
}

/* line 46, ../../src/sass/base.scss */
h5,
.h5 {
  font-size: 14px;
}

/* line 50, ../../src/sass/base.scss */
h6,
.h6 {
  font-size: 12px;
}

/* line 55, ../../src/sass/base.scss */
a {
  display: inline-block;
  font-style: none;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* line 62, ../../src/sass/base.scss */
p {
  margin: 0;
}

/* line 65, ../../src/sass/base.scss */
body {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}

/* Always use these functions for black and white
   ========================================================================== */
/* Mixins for box/font effects
   ========================================================================== */
/* Some css resets breaking the styling somewhere
   ========================================================================== */
/* line 96, ../../src/sass/base.scss */
img {
  border: none;
}

/* List Styling
   ========================================================================== */
/* line 103, ../../src/sass/base.scss */
ul {
  margin: 0;
  display: inline-block;
}

/* line 107, ../../src/sass/base.scss */
ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* Few button base css
   ========================================================================== */
/* line 115, ../../src/sass/base.scss */
button {
  border: none;
}

/* line 118, ../../src/sass/base.scss */
.btn {
  padding: 7px 15px;
  font-weight: bolder;
  cursor: pointer;
}

/* line 125, ../../src/sass/base.scss */
.btn--gray {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #bfbfbf));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
}
/* line 129, ../../src/sass/base.scss */
.btn--gray:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fcfcfc), color-stop(100%, #bfbfbf));
  background: -webkit-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: -moz-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: -o-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
}

/* line 136, ../../src/sass/base.scss */
.btn--orange {
  padding: 1px 5px;
  border: 1px solid #c57601;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9802), color-stop(100%, #c57601));
  background: -webkit-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: -moz-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: -o-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: linear-gradient(top, #ff9802 0%, #c57601 100%);
}

/* line 145, ../../src/sass/base.scss */
.btn--blue {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(top, #00b5e4 0%, #1877cf 100%);
}
/* line 149, ../../src/sass/base.scss */
.btn--blue:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
}

/* Few input base css
   ========================================================================== */
/* line 156, ../../src/sass/base.scss */
input[type="text"], input[type="password"] {
  border: none;
  border: 1px solid gray;
  width: 170px;
}

/* line 161, ../../src/sass/base.scss */
.ipt {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 168, ../../src/sass/base.scss */
.ipt--inline {
  display: inline-block;
}

/* line 171, ../../src/sass/base.scss */
.ipt--single {
  display: block;
}

/* line 174, ../../src/sass/base.scss */
.ipt-padding {
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* A few css classes for images to display
   ========================================================================== */
/* line 182, ../../src/sass/base.scss */
.thumb--medium {
  width: 150px;
  vertical-align: middle;
}

/* line 186, ../../src/sass/base.scss */
.thumb--box {
  width: 150px;
  vertical-align: top;
}

/* line 190, ../../src/sass/base.scss */
.thumb--large {
  width: 300px;
}

/* A few box rules
   ========================================================================== */
/* line 196, ../../src/sass/base.scss */
.label--single {
  width: 50px;
  margin-left: 10px;
  margin-right: 19px;
}

/* line 201, ../../src/sass/base.scss */
.label--single.is-selected {
  margin-right: 0px;
}

/* A few form rules
   ========================================================================== */
/* line 207, ../../src/sass/base.scss */
.form {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 212, ../../src/sass/base.scss */
.form--gray {
  background-color: #eaeaea;
}

/* line 217, ../../src/sass/base.scss */
.form--blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 1px 0;
}

/* Few alert styles
   ========================================================================== */
/* line 224, ../../src/sass/base.scss */
.alert--error {
  color: #f99302;
}

/* Font declarations
   ========================================================================== */
@font-face {
  font-family: "lostart";
  src: url("./../assets/lost-art-font.woff");
}

/* Font classes based on these web fonts
   ========================================================================== */
/* line 239, ../../src/sass/base.scss */
.font-indie {
  font-family: "Indie Flower";
  font-size: 19px;
  color: #3a6275;
  text-shadow: white 0 1px 0;
}

/* line 245, ../../src/sass/base.scss */
.font-monkey {
  font-family: "Happy Monkey";
  font-size: 19px;
  color: #3a6275;
  text-shadow: white 0 1px 0;
}

/* line 251, ../../src/sass/base.scss */
.text-light {
  font-weight: normal;
}
