/* line 10, ../../src/sass/page-index.scss */
.sub-banner {
  background-color: white;
  height: 38px;
  width: 100%;
  min-width: 900px;
}

/* line 16, ../../src/sass/page-index.scss */
.sub-banner {
  margin: 0 auto;
  text-align: center;
}

/* line 20, ../../src/sass/page-index.scss */
.sub-banner__tagline {
  font-size: 24px;
  margin: 5px auto;
}

/* line 24, ../../src/sass/page-index.scss */
.banr {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 30, ../../src/sass/page-index.scss */
.banr--small {
  height: 20px;
  background-color: #ffd76f;
}

/* line 35, ../../src/sass/page-index.scss */
.banr--green-small {
  height: 20px;
  background-color: rgba(122, 189, 0, 0.5);
}

/* line 40, ../../src/sass/page-index.scss */
.banner {
  background-color: #5c7289;
  height: 65px;
  width: 100%;
  min-width: 900px;
}

/* line 46, ../../src/sass/page-index.scss */
.banner .nav {
  margin: 0 auto;
  position: relative;
}

/* line 50, ../../src/sass/page-index.scss */
.banner .content, .banner .title {
  background-color: #5c7289;
  margin: 0 auto;
  display: inline-block;
  margin: 0 10px;
  font-weight: normal;
}

/* line 57, ../../src/sass/page-index.scss */
.banner .title {
  padding-top: 12px;
}

/* line 61, ../../src/sass/page-index.scss */
.footer-banner {
  background-color: rgba(93, 171, 31, 0.4);
  height: 110px;
  width: 100%;
  min-width: 920px;
  padding-top: 5px;
}

/* line 69, ../../src/sass/page-index.scss */
.footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 73, ../../src/sass/page-index.scss */
.footer__left {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-left: -1em;
}

/* line 77, ../../src/sass/page-index.scss */
.footer__right {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-right: -1em;
  text-align: right;
}

/* Social media sprites
   ========================================================================== */
/* line 86, ../../src/sass/page-index.scss */
.sprite {
  background: url("./../assets/sprites.png");
}

/* line 89, ../../src/sass/page-index.scss */
.sprite--fb, .sprite--twitter {
  width: 32px;
  height: 32px;
}

/* line 93, ../../src/sass/page-index.scss */
.sprite--twitter {
  background-position: 0px 0px;
}

/* line 96, ../../src/sass/page-index.scss */
.sprite--fb {
  background-position: 0px -32px;
}

/* line 99, ../../src/sass/page-index.scss */
.sprite2 {
  background-image: url("./../assets/sprites2.png");
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 103, ../../src/sass/page-index.scss */
.sprite2:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 107, ../../src/sass/page-index.scss */
.sprite2--fb, .sprite2--twitter, .sprite2--mail {
  width: 88px;
  height: 70px;
}

/* line 111, ../../src/sass/page-index.scss */
.sprite2--fb {
  background-position: 0 0;
}

/* line 114, ../../src/sass/page-index.scss */
.sprite2--twitter {
  margin-left: 60px;
  background-position: 0 -90px;
}

/* line 119, ../../src/sass/page-index.scss */
.menu {
  position: absolute;
  top: 0;
  right: 20px;
}

/* line 125, ../../src/sass/page-index.scss */
.menu li {
  padding-top: 12px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-top: 3px solid transparent;
}
/* line 132, ../../src/sass/page-index.scss */
.menu li:hover {
  border-top: 3px solid white;
}

/* line 136, ../../src/sass/page-index.scss */
.menu li a {
  margin-top: 10px;
}

/* line 140, ../../src/sass/page-index.scss */
.layout {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIHWN88+LOfwYk8OXLVwYmJD6YycPDjRAEqYABuEqQChhgQlYBEwQAUMYMlj+hubwAAAAASUVORK5CYII=");
}

/* line 144, ../../src/sass/page-index.scss */
.brand {
  font-family: lostart;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}
