@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/* Susy set-up
   ========================================================================== */
/* Positioning classes
   ========================================================================== */
/* line 13, ../../src/sass/base.scss */
.text-center {
  text-align: center;
}

/* line 16, ../../src/sass/base.scss */
.center {
  margin: 0 auto;
  display: block;
}

/* line 20, ../../src/sass/base.scss */
.center--inline {
  margin: 0 auto;
  display: inline;
}

/* Few header declarations
   ========================================================================== */
/* line 27, ../../src/sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 30, ../../src/sass/base.scss */
h1,
.h1 {
  font-size: 38px;
}

/* line 34, ../../src/sass/base.scss */
h2,
.h2 {
  font-size: 32px;
}

/* line 38, ../../src/sass/base.scss */
h3,
.h3 {
  font-size: 24px;
}

/* line 42, ../../src/sass/base.scss */
h4,
.h4 {
  font-size: 18px;
}

/* line 46, ../../src/sass/base.scss */
h5,
.h5 {
  font-size: 14px;
}

/* line 50, ../../src/sass/base.scss */
h6,
.h6 {
  font-size: 12px;
}

/* line 55, ../../src/sass/base.scss */
a {
  display: inline-block;
  font-style: none;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* line 62, ../../src/sass/base.scss */
p {
  margin: 0;
}

/* line 65, ../../src/sass/base.scss */
body {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}

/* Always use these functions for black and white
   ========================================================================== */
/* Mixins for box/font effects
   ========================================================================== */
/* Some css resets breaking the styling somewhere
   ========================================================================== */
/* line 96, ../../src/sass/base.scss */
img {
  border: none;
}

/* List Styling
   ========================================================================== */
/* line 103, ../../src/sass/base.scss */
ul {
  margin: 0;
  display: inline-block;
}

/* line 107, ../../src/sass/base.scss */
ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* Few button base css
   ========================================================================== */
/* line 115, ../../src/sass/base.scss */
button {
  border: none;
}

/* line 118, ../../src/sass/base.scss */
.btn {
  padding: 7px 15px;
  font-weight: bolder;
  cursor: pointer;
}

/* line 125, ../../src/sass/base.scss */
.btn--gray {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #bfbfbf));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
  background: linear-gradient(top, #fcfcfc 0%, #bfbfbf 100%);
}
/* line 129, ../../src/sass/base.scss */
.btn--gray:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fcfcfc), color-stop(100%, #bfbfbf));
  background: -webkit-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: -moz-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: -o-linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
  background: linear-gradient(bottom, #fcfcfc 0%, #bfbfbf 100%);
}

/* line 136, ../../src/sass/base.scss */
.btn--orange {
  padding: 1px 5px;
  border: 1px solid #c57601;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9802), color-stop(100%, #c57601));
  background: -webkit-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: -moz-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: -o-linear-gradient(top, #ff9802 0%, #c57601 100%);
  background: linear-gradient(top, #ff9802 0%, #c57601 100%);
}

/* line 145, ../../src/sass/base.scss */
.btn--blue {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(top, #00b5e4 0%, #1877cf 100%);
}
/* line 149, ../../src/sass/base.scss */
.btn--blue:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(bottom, #00b5e4 0%, #1877cf 100%);
}

/* Few input base css
   ========================================================================== */
/* line 156, ../../src/sass/base.scss */
input[type="text"], input[type="password"] {
  border: none;
  border: 1px solid gray;
  width: 170px;
}

/* line 161, ../../src/sass/base.scss */
.ipt {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 168, ../../src/sass/base.scss */
.ipt--inline {
  display: inline-block;
}

/* line 171, ../../src/sass/base.scss */
.ipt--single {
  display: block;
}

/* line 174, ../../src/sass/base.scss */
.ipt-padding {
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* A few css classes for images to display
   ========================================================================== */
/* line 182, ../../src/sass/base.scss */
.thumb--medium {
  width: 150px;
  vertical-align: middle;
}

/* line 186, ../../src/sass/base.scss */
.thumb--box {
  width: 150px;
  vertical-align: top;
}

/* line 190, ../../src/sass/base.scss */
.thumb--large {
  width: 300px;
}

/* A few box rules
   ========================================================================== */
/* line 196, ../../src/sass/base.scss */
.label--single {
  width: 50px;
  margin-left: 10px;
  margin-right: 19px;
}

/* line 201, ../../src/sass/base.scss */
.label--single.is-selected {
  margin-right: 0px;
}

/* A few form rules
   ========================================================================== */
/* line 207, ../../src/sass/base.scss */
.form {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 212, ../../src/sass/base.scss */
.form--gray {
  background-color: #eaeaea;
}

/* line 217, ../../src/sass/base.scss */
.form--blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e4), color-stop(100%, #1877cf));
  background: -webkit-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -moz-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: -o-linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  background: linear-gradient(top, #00b5e4 0%, #1877cf 100%);
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 1px 0;
}

/* Few alert styles
   ========================================================================== */
/* line 224, ../../src/sass/base.scss */
.alert--error {
  color: #f99302;
}

/* Font declarations
   ========================================================================== */
@font-face {
  font-family: "lostart";
  src: url("./../assets/lost-art-font.woff");
}

/* Font classes based on these web fonts
   ========================================================================== */
/* line 239, ../../src/sass/base.scss */
.font-indie {
  font-family: "Indie Flower";
  font-size: 19px;
  color: #3a6275;
  text-shadow: white 0 1px 0;
}

/* line 245, ../../src/sass/base.scss */
.font-monkey {
  font-family: "Happy Monkey";
  font-size: 19px;
  color: #3a6275;
  text-shadow: white 0 1px 0;
}

/* line 251, ../../src/sass/base.scss */
.text-light {
  font-weight: normal;
}

/* line 10, ../../src/sass/page-home.scss */
.home {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.home:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../../src/sass/page-home.scss */
.span-double {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

/* line 21, ../../src/sass/page-home.scss */
.bkt-card {
  -webkit-transition: bottom 0.2s ease;
  -moz-transition: bottom 0.2s ease;
  -o-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}
/* line 23, ../../src/sass/page-home.scss */
.bkt-card:hover {
  position: relative;
  bottom: 20px;
}

/* line 29, ../../src/sass/page-home.scss */
.span-single {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 120px;
  overflow: hidden;
}
/* line 36, ../../src/sass/page-home.scss */
.span-single .events {
  margin-left: 5px;
  padding: 5px 0;
}
/* line 41, ../../src/sass/page-home.scss */
.span-single a:after {
  content: "\232a";
  float: right;
}
/* line 46, ../../src/sass/page-home.scss */
.span-single ul {
  padding: 0;
  width: 100%;
}
/* line 49, ../../src/sass/page-home.scss */
.span-single ul li {
  padding: 3px 0;
  width: 100%;
  text-align: left;
  position: relative;
}
/* line 54, ../../src/sass/page-home.scss */
.span-single ul li:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eaeaea), color-stop(25%, #d2d2d2), color-stop(75%, #d2d2d2), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(left, #eaeaea 0%, #d2d2d2 25%, #d2d2d2 75%, #eaeaea 100%);
  background: -moz-linear-gradient(left, #eaeaea 0%, #d2d2d2 25%, #d2d2d2 75%, #eaeaea 100%);
  background: -o-linear-gradient(left, #eaeaea 0%, #d2d2d2 25%, #d2d2d2 75%, #eaeaea 100%);
  background: linear-gradient(left, #eaeaea 0%, #d2d2d2 25%, #d2d2d2 75%, #eaeaea 100%);
}
/* line 63, ../../src/sass/page-home.scss */
.span-single ul li a {
  padding-left: 5px;
  width: 98%;
  color: rgba(0, 0, 0, 0.8);
}
/* line 67, ../../src/sass/page-home.scss */
.span-single ul li a:hover {
  color: black;
}

/* line 74, ../../src/sass/page-home.scss */
.span-single--last {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 120px;
  overflow: hidden;
}

/* line 84, ../../src/sass/page-home.scss */
.span-border {
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 0 1px;
}

/* line 88, ../../src/sass/page-home.scss */
.more-things {
  text-shadow: white 0 1px 0;
  color: #6097af;
}

/* line 94, ../../src/sass/page-home.scss */
.mascot {
  border-radius: 50%;
  border: 4px solid gray;
  height: 100px;
  width: 107px;
  background: url("./../assets/mascot.png");
  background-size: 107px 100px;
  margin: 0 auto;
}

/* line 104, ../../src/sass/page-home.scss */
.searchBox {
  margin: 20px 70px;
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: #5dab1f;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

/* line 112, ../../src/sass/page-home.scss */
.searchBox__left {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 115, ../../src/sass/page-home.scss */
.searchBox__right {
  width: 6.77966%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 119, ../../src/sass/page-home.scss */
.searchBox .types {
  margin: 10px 25px;
}

/* line 122, ../../src/sass/page-home.scss */
.searchBox .type__pill {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 127, ../../src/sass/page-home.scss */
.type__pill.is-selected {
  background-color: #7ebb4b;
  -webkit-box-shadow: white 0 0 2px;
  -moz-box-shadow: white 0 0 2px;
  box-shadow: white 0 0 2px;
}

/* line 131, ../../src/sass/page-home.scss */
.searchBox .forms {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: red;
}

/* line 135, ../../src/sass/page-home.scss */
.searchBox .actuator {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background-color: yellow;
}

/* line 143, ../../src/sass/page-home.scss */
.sort-box {
  background-color: #f9f9f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin: 20px 0;
}

/* line 149, ../../src/sass/page-home.scss */
.sort-box__filters, .sort-box__search {
  margin: 10px 0;
}

/* line 152, ../../src/sass/page-home.scss */
.sort-box__filters {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin: 16px 0;
}

/* line 156, ../../src/sass/page-home.scss */
.sort-box__search {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 160, ../../src/sass/page-home.scss */
.max-span {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 163, ../../src/sass/page-home.scss */
.item-box {
  margin: 20px 0;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* line 170, ../../src/sass/page-home.scss */
.item-box .item--thumb {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 175, ../../src/sass/page-home.scss */
.item-box .item--thumb img {
  width: 120px;
  display: block;
}

/* line 180, ../../src/sass/page-home.scss */
.item--text {
  overflow: hidden;
  display: inline-block;
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 184, ../../src/sass/page-home.scss */
.item--text .price {
  cursor: pointer;
  display: inline-block;
}
/* line 188, ../../src/sass/page-home.scss */
.item--text .price {
  float: right;
  margin: 0;
}

/* line 196, ../../src/sass/page-home.scss */
.usr--status {
  margin: 1px auto;
}

/* line 200, ../../src/sass/page-home.scss */
.usr--email {
  color: #284ea8;
  text-decoration: underline;
}
