/* line 7, ../../src/sass/page-item.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../../src/sass/page-item.scss */
.main {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 16, ../../src/sass/page-item.scss */
.side {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

/* line 21, ../../src/sass/page-item.scss */
.lyt--reply-to-ad-form div {
  margin: 40px;
}

/* line 27, ../../src/sass/page-item.scss */
.lyt--message-sent {
  margin: 0 auto;
  text-align: center;
}
/* line 31, ../../src/sass/page-item.scss */
.lyt--message-sent .img-bg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(93, 171, 31, 0.8);
  width: 190px;
  height: 190px;
  margin: 30px auto 10px auto;
}
/* line 37, ../../src/sass/page-item.scss */
.lyt--message-sent .img-bg img {
  position: relative;
  top: 25px;
  right: 12px;
  margin: 0 auto;
  display: block;
}
