<br>
<form
        name="signupForm"
        class="signup"
        ng-submit="sendUser();">
    <h3 class="text-center">GET STARTED</h3>
    <h5 class="text-center">It's super easy and doesn't cost you a thing.</h5>
    <h5
            class="alert--error text-center"
            ng-bind="error"></h5>
    <input
            required
            ng-model="user.username"
            type="text"
            placeholder="Username"
            class="ipt ipt--single center">
    <input
            required
            ng-model="user.email"
            type="text"
            placeholder="Email"
            class="ipt ipt--single center">
    <input
            required
            ng-model="user.pass"
            type="password"
            placeholder="Password"
            class="ipt ipt--single center">
    <input
            required
            ng-model="user.confirm"
            type="password"
            placeholder="Confirm"
            class="ipt ipt--single center">
    <button
            class="btn btn--gray center js-signup"
            ng-disabled="!canSave('signupForm');">
        Sign Up</button>
</form>
<br>