<!DOCTYPE html>
<html ng-app="main" ng-controller="AppCtrl">
<head>
    <title>Benkyet</title>

    <!--Required for dynamic routes in UI Router to work-->
    <base href="/"></base>

    <!--Classic favicon for browsers-->
    <link rel="icon" type="image/png" href="./assets/favicon-ico-all-16x16.ico" />

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <!-- iOS specific -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-startup-image" href="./assets/splash.png">

    <!-- iOS specific icons -->
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" size="114x114" href="./assets/favicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" size="72x72" href="./assets/favicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/favicons/apple-touch-icon-precomposed.png">


    <!-- social media tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@benkyet">
    <meta name="twitter:title" content="Benkyet">
    <meta name="twitter:description" content="Start selling and buying within your community">
    <meta name="twitter:creator" content="@benkyet">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://necolas.github.io/normalize.css/2.1.2/normalize.css" rel="stylesheet">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>


    <!--<script src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>-->
    <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->




</head>
<body>

    <header class="banner">
        <div class="nav">
            <h2 class="title"><a href="/">Benkyet</a></h2>
            <ul class="menu" ng-show="state === 'loggedOut'">
                <li><a class="h5" href="/signup">Sign Up</a></li>
                <a href="/login" class="btn btn--gray">Log In</a>
            </ul>
            <ul class="menu" ng-show="isAuthenticated();">
                <li><a class="h5" href="/account">Account</a></li>
                <button class="btn btn--gray" ng-click="logoutUser();">Log Out</button>
            </ul>
        </div>
    </header>
    <section class="sub-banner">
        <p class="content sub-banner__tagline">
            Start selling to your community <a href="/signup" class="btn--orange">today</a>
        </p>
    </section>
    <section
            ng-show="isAuthenticated();"
            class="banr banr--small">
        <p class="usr--status">
            Replies to your ads are sent to <b class="usr--email">{{ current.email }}</b>
        </p>
    </section>


    <div ui-view="main" class="layout"></div>


    <footer class="footer-banner">
        <section class="footer">
            <section class="footer__right">
                <a href="https://twitter.com/benkyet" target="_blank">
                    <img class="sprite sprite--twitter">
                </a>
                <a href="https://www.facebook.com/benkyet" target="_blank">
                    <img class="sprite sprite--fb">
                </a>

            </section>
            <hr width="975" style="margin-left: -1em;">
            <section class="footer__left">
                <h2>Benkyet</h2>
            </section>
            <section class="footer__right">
                Make your community a beautiful marketplace<br>
                &copy; Benkyet
            </section>
        </section>
    </footer>
</body>
</html>
