<footer class="container" role="contentinfo">
    <div class="bs-social">
        <ul class="bs-social-buttons">
            <li>
                <a
                        ng-href="/"
                        class="btn btn-outline-inverse btn-lg"
                        ng-class="{'by-is-selected': type === null}">All</a>
            </li>
            <li ng-repeat="group in groups">
                <a
                        class="btn btn-outline-inverse btn-lg"
                        ng-href="/?g={{ group }}"
                        ng-class="{'by-is-selected': type === group}">{{ group }}</a>
            </li>
        </ul>
    </div>
</footer>

<!--<div-->
        <!--ng-show="nogroup"-->
        <!--class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<img style="vertical-align: bottom;" src="./assets/arrow_top.png">-->
            <!--<h5 class="center--inline font-indie">Select your University</h5>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h5 class="center--inline font-indie">Sell your textbooks...<br>to people around campus</h5>-->
            <!--<img style="vertical-align: top;" src="./assets/arrow_bottom.png">-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h5 class="text-center font-indie">Still feel the pain?</h5>-->
            <!--<img-->
                    <!--style="margin: 7px auto;"-->
                    <!--class="center"-->
                    <!--src="./assets/arrow_spiral.png">-->
            <!--<h5 class="text-center font-indie">Ask for <b><a style="color: inherit; text-decoration: underline;" href="mailto:contact@benkyet.com">help</a></b></h5>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div
        ng-hide="nogroup"
        class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="events">
                Events
            </h4>

            <ul class="list-group">
                <li
                        ng-repeat="event in events"
                        class="list-group-item">
                    <a
                            ng-href="{{ event.link }}"
                            target="_blank">{{ event.name }}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <br>
            <h4
                    class="text-center">
                Can't sell your items?
                <br>
                We have your back:
            </h4>
            <br>
            <img
                    class="by-center"
                    style="cursor: pointer;"
                    ng-click="requestFriends();"
                    src="https://lh3.googleusercontent.com/-ESoug2foJBs/T-ntmH-Vs3I/AAAAAAAAGIM/FUQoD54w1oQ/s267/bringfriends.png">
        </div>
        <div class="col-sm-4">
            <h5
                    style="top: 5px;position: relative;"
                    class="text-center by-font-monkey">
                More awesome things to come on Benkyet!
            </h5>
            <div class="center">
                <a
                        href="https://twitter.com/benkyet"
                        target="_blank"
                        class="sprite2 sprite2--twitter"></a>
                <a
                        href="https://facebook.com/benkyet"
                        target="_blank"
                        class="sprite2 sprite2--fb"></a>
            </div>
        </div>
    </div>
</div>

<section class="container bs-old-docs">
    <div class="col-sm-4"
         style="position: relative;top: 7px;">
        <b style="margin-right: 20px;">Sort</b>
        <a
                href=""
                class="label--single text-light"
                ng-click="sort('price')"
                ng-class="{'is-selected': isSortUp('price') || isSortDown('price')}"
                >Price</a>
        <i
                class="glyphicon"
                ng-class="{'glyphicon-chevron-up': isSortUp('price'), 'glyphicon-chevron-down': isSortDown('price')}"></i>
        <a
                href=""
                class="label--single text-light"
                ng-click="sort('name')"
                ng-class="{'is-selected': isSortUp('name') || isSortDown('name')}"
                >Name</a>
        <i
                class="glyphicon"
                ng-class="{'glyphicon-chevron-up': isSortUp('name'), 'glyphicon-chevron-down': isSortDown('name')}"></i>
    </div>

    <form class="col-lg-offset-9">
        <input
            class="form-control"
            placeholder="e.g. Financial Accounting"
            type="text"
            ng-model="criteria">
    </form>
</section>



<section class="container">

    <h4>
        {{ filteredItems.length }} Results
    </h4>

    <div
            ng-repeat="item in filteredItems = (items | filter:criteria | orderBy:sortField:reverse)"
            class="media col-lg-offset-1">
        <a
                class="pull-left"
                href="/item/{{ item.ref }}">
            <img class="media-object by-img-middle" src="{{ item.pictures[0] }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ item.name }}</h4>
            <p
                    class="price"
                    ng-href="/item/{{ item.ref }}">
                {{ item.price | currency:"£ " }}</p>
        </div>
    </div>
</section>


