<footer class="container" role="contentinfo">
    <div class="bs-social">
        <ul class="bs-social-buttons">
            <li>
                <a
                        ng-href="/"
                        class="btn btn-outline-inverse btn-lg"
                        ng-class="{'by-is-selected': type === null}">All</a>
            </li>
            <li ng-repeat="group in groups">
                <a
                        class="btn btn-outline-inverse btn-lg"
                        ng-href="/?g={{ group }}"
                        ng-class="{'by-is-selected': type === group}">{{ group }}</a>
            </li>
        </ul>
    </div>
</footer>

<!--<div-->
        <!--ng-show="nogroup"-->
        <!--class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<img style="vertical-align: bottom;" src="./assets/arrow_top.png">-->
            <!--<h5 class="center--inline font-indie">Select your University</h5>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h5 class="center--inline font-indie">Sell your textbooks...<br>to people around campus</h5>-->
            <!--<img style="vertical-align: top;" src="./assets/arrow_bottom.png">-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h5 class="text-center font-indie">Still feel the pain?</h5>-->
            <!--<img-->
                    <!--style="margin: 7px auto;"-->
                    <!--class="center"-->
                    <!--src="./assets/arrow_spiral.png">-->
            <!--<h5 class="text-center font-indie">Ask for <b><a style="color: inherit; text-decoration: underline;" href="mailto:contact@benkyet.com">help</a></b></h5>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div
        ng-hide="nogroup"
        class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="events">
                Crazy
            </h4>

            <ul class="list-group">
                <li
                        ng-repeat="event in events"
                        class="list-group-item">
                    <a
                            ng-href="{{ event.link }}"
                            target="_blank">{{ event.name }}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h4 class="events">
                Pipo
            </h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <a
                            href="http://www.lse.ac.uk/publicEvents/events/2013/10/20131008t1700vNAB.LG.09.aspx"
                            target="_blank">Introduction to British Government @ LSE </a>
                </li>
                <li class="list-group-item">
                    <a
                            href="http://www.lse.ac.uk/publicEvents/events/2013/10/20131008t1830vWT.aspx"
                            target="_blank">The Nature of Existence</a>
                </li>
                <li class="list-group-item">
                    <a
                            href="http://www.lse.ac.uk/study/meetLSE/Graduate-Open-Evening.aspx"
                            target="_blank">Graduate Open Evening</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h4 class="events">
                Rago
            </h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <a
                            href="https://www.facebook.com/LSESURAG"
                            target="_blank">LSE SU RAG</a>
                </li>
                <li class="list-group-item">
                    <a
                            href="https://www.facebook.com/SpottedLseLibrary"
                            target="_blank">Spotted: LSE Library</a>
                </li>
                <li class="list-group-item">
                    <a
                            href="https://www.facebook.com/lse.studentunion"
                            target="_blank">LSE Student Union</a>
                </li>
            </ul>

        </div>

    </div>
</div>

<section class="container bs-old-docs">
    <div
            class="col-sm-4"
            style="padding: 0 0 4px 0;">
        <b style="margin-right: 15px;">Sort</b>
        <button
                class="btn btn-default btn-sm"
                ng-init="sort('price')"
                ng-click="sort('price')"
                ng-class="{'is-selected': isSortUp('price') || isSortDown('price')}">

            Price
            <i
                    class="glyphicon"
                    ng-class="{'glyphicon-chevron-up': isSortUp('price'), 'glyphicon-chevron-down': isSortDown('price')}"></i>
        </button>

        <button
                class="btn btn-default btn-sm"
                ng-click="sort('name')"
                ng-class="{'is-selected': isSortUp('name') || isSortDown('name')}">
            Name
            <i
                    class="glyphicon"
                    ng-class="{'glyphicon-chevron-up': isSortUp('name'), 'glyphicon-chevron-down': isSortDown('name')}"></i>
        </button>
    </div>

    <form class="col-lg-offset-9">
        <input
            class="form-control"
            placeholder="e.g. Financial Accounting"
            type="text"
            ng-model="criteria">
    </form>
</section>



<section class="container">

    <section class="col-sm-12">


        <h4>
            {{ filteredItems.length }} Results
        </h4>

        <div
                ng-repeat="item in filteredItems = (items | filter:criteria | orderBy:sortField:reverse)"
                class="media col-sm-6">
            <a
                    class="pull-left"
                    href="/item/{{ item.ref }}">
                <img class="media-object by-img-middle" src="{{ item.pictures[0] }}">
            </a>


            <div class="media-body">
                <h4 class="media-heading">
                    <a
                            style="color: white;"
                            href="/item/{{ item.ref }}">{{ item.name }}</a>
                </h4>
                <h4
                        class="media-heading"
                        ng-href="/item/{{ item.ref }}">
                    {{ item.price | currency:"£ " }}</h4>
                <p
                        class="media-body">{{ item.location }}</p>


            </div>
        </div>

    </section>


</section>


